In [1]:
import pandas as pd
file_path = "/Users/pritish/Desktop/Carbon-footprint-dashboard/data/electric_consumption.csv"

def read_csv_data(file_path):
    df = pd.read_csv(file_path)
    return df

data = read_csv_data(file_path)

def melt_electricity_df(data):
    df_melted = pd.melt(data, id_vars=['Location', 'Machine'], var_name='Month', value_name='Value')
    df_melted[['Source', 'Month']] = df_melted['Month'].str.split('_', expand=True)
    electric_data_new = df_melted
    return electric_data_new

temp = melt_electricity_df(data)
temp

   Location          Machine  Month    Value Source
0     Mines  Dewatering pump  april   538744   RSEB
1     Mines     Screen plant  april     4782   RSEB
2     Mines          Crusher  april     3891   RSEB
3     Mines          Utility  april     5682   RSEB
4     Plant         Jet Mill  april  114,698   RSEB
5     Plant     Raymond Mill  april   128275   RSEB
6     Plant          Utility  april    21084   RSEB
7     Mines  Dewatering pump  april   178713  Solar
8     Mines     Screen plant  april     1594  Solar
9     Mines          Crusher  april     1292  Solar
10    Mines          Utility  april     1897  Solar
11    Plant         Jet Mill  april    38492  Solar
12    Plant     Raymond Mill  april    41241  Solar
13    Plant          Utility  april     7093  Solar
14    Mines  Dewatering pump    may   571699   RSEB
15    Mines     Screen plant    may     5173   RSEB
16    Mines          Crusher    may     4318   RSEB
17    Mines          Utility    may     6012   RSEB
18    Plant         Jet Mill    may  155,052   RSEB
19    Plant     Raymond Mill    may   110665   RSEB
20    Plant          Utility    may    23081   RSEB
21    Mines  Dewatering pump    may   200345  Solar
22    Mines     Screen plant    may     1787  Solar
23    Mines          Crusher    may     1448  Solar
24    Mines          Utility    may     2126  Solar
25    Plant         Jet Mill    may    43151  Solar
26    Plant     Raymond Mill    may    46233  Solar
27    Plant          Utility    may     7952  Solar
28    Mines  Dewatering pump   june   594902   RSEB
29    Mines     Screen plant   june     5793   RSEB
30    Mines          Crusher   june     4681   RSEB
31    Mines          Utility   june     5901   RSEB
32    Plant         Jet Mill   june  157,919   RSEB
33    Plant     Raymond Mill   june    96712   RSEB
34    Plant          Utility   june    26292   RSEB
35    Mines  Dewatering pump   june   154584  Solar
36    Mines     Screen plant   june     1380  Solar
37    Mines          Crusher   june     1117  Solar
38    Mines          Utility   june     1650  Solar
39    Plant         Jet Mill   june    33295  Solar
40    Plant     Raymond Mill   june    35673  Solar
41    Plant          Utility   june     6070  Solar
42    Mines  Dewatering pump   july   460451   RSEB
43    Mines     Screen plant   july     4406   RSEB
44    Mines          Crusher   july     3863   RSEB
45    Mines          Utility   july     4852   RSEB
46    Plant         Jet Mill   july  126,378   RSEB
47    Plant     Raymond Mill   july    90199   RSEB
48    Plant          Utility   july    23851   RSEB
49    Mines  Dewatering pump   july   147598  Solar
50    Mines     Screen plant   july     1317  Solar
51    Mines          Crusher   july     1067  Solar
52    Mines          Utility   july     1566  Solar
53    Plant         Jet Mill   july    31790  Solar
54    Plant     Raymond Mill   july    34061  Solar
55    Plant          Utility   july     5858  Solar

In [2]:
def total_consumption(df, month, location, source):
    df_copy = df.copy()
    df_copy['Value'] = df['Value'].str.replace(',', '').astype(float)
    # Filter the dataframe based on the input parameters
    filtered_df = df_copy[(df_copy['Month'] == month.lower()) & 
                     (df_copy['Location'] == location) &
                     (df_copy['Source'] == source)]
    # Sum the values for the filtered rows
    total_consumption = float(filtered_df['Value'].sum())
    return total_consumption

In [3]:
def calculate_emissions(energy_data):
    months = energy_data['Month'].unique()
    rseb_factor = 0.82
    solar_factor = 0.048

    mine = {}
    for month in months:
        rseb_consumption =  total_consumption(energy_data, month=month, location="Mines", source="RSEB")
        solar_consumption = total_consumption(energy_data, month=month, location="Mines", source="Solar")
        mine[month] = {
                "solar_consumption": solar_consumption,
                "rseb_consumption": rseb_consumption,
                "rseb_co2_emissions": rseb_consumption*rseb_factor,
                "solar_co2_emissions": solar_consumption*solar_factor
            }

    plant = {}
    for month in months:
        rseb_consumption =  total_consumption(energy_data, month=month, location="Plant", source="RSEB")
        solar_consumption = total_consumption(energy_data, month=month, location="Plant", source="Solar")
        plant[month] = {
                "solar_consumption": solar_consumption,
                "rseb_consumption": rseb_consumption,
                "rseb_co2_emissions": rseb_consumption*rseb_factor,
                "solar_co2_emissions": solar_consumption*solar_factor
            }
    
    # Initialize sum
    total_emissions_plant = 0
    total_emissions_mine = 0

    # Iterate over the dictionary
    for month in months:
        total_emissions_plant += plant[month]['rseb_co2_emissions'] + plant[month]['solar_co2_emissions']

    for month in months:
        total_emissions_mine += mine[month]['rseb_co2_emissions'] + mine[month]['solar_co2_emissions']


    return {
        'totalEmissions': total_emissions_plant+total_emissions_mine,
        'totalEmissions_plant': total_emissions_plant,
        'totalEmissions_mine': total_emissions_mine,
        'plant': plant,
        'mine': mine
    }

In [4]:
# Define CO2 emission factors (kg CO2 per kWh)
RSEB_CO2_factor = 0.82
Solar_CO2_factor = 0.048

# Separate data for Mines and Plant
solar_data = electric_data_new[electric_data_new['Source'] == 'Solar']
plant_data = electric_data_new[electric_data_new['Location'] == 'Plant']

NameError: name 'electric_data_new' is not defined

In [ ]:
total_consumption(energy_data_melted, month="May", location="Plant", source="Solar")

0.0

In [ ]:
energy_data_melted

   Location          Machine  Month    Value Source
0     Mines  Dewatering pump  april   538744   RSEB
1     Mines     Screen plant  april     4782   RSEB
2     Mines          Crusher  april     3891   RSEB
3     Mines          Utility  april     5682   RSEB
4     Plant         Jet Mill  april  114,698   RSEB
5     Plant     Raymond Mill  april   128275   RSEB
6     Plant          Utility  april    21084   RSEB
7     Mines  Dewatering pump  april   178713  Solar
8     Mines     Screen plant  april     1594  Solar
9     Mines          Crusher  april     1292  Solar
10    Mines          Utility  april     1897  Solar
11    Plant         Jet Mill  april    38492  Solar
12    Plant     Raymond Mill  april    41241  Solar
13    Plant          Utility  april     7093  Solar
14    Mines  Dewatering pump    may   571699   RSEB
15    Mines     Screen plant    may     5173   RSEB
16    Mines          Crusher    may     4318   RSEB
17    Mines          Utility    may     6012   RSEB
18    Plant         Jet Mill    may  155,052   RSEB
19    Plant     Raymond Mill    may   110665   RSEB
20    Plant          Utility    may    23081   RSEB
21    Mines  Dewatering pump    may   200345  Solar
22    Mines     Screen plant    may     1787  Solar
23    Mines          Crusher    may     1448  Solar
24    Mines          Utility    may     2126  Solar
25    Plant         Jet Mill    may    43151  Solar
26    Plant     Raymond Mill    may    46233  Solar
27    Plant          Utility    may     7952  Solar
28    Mines  Dewatering pump   june   594902   RSEB
29    Mines     Screen plant   june     5793   RSEB
30    Mines          Crusher   june     4681   RSEB
31    Mines          Utility   june     5901   RSEB
32    Plant         Jet Mill   june  157,919   RSEB
33    Plant     Raymond Mill   june    96712   RSEB
34    Plant          Utility   june    26292   RSEB
35    Mines  Dewatering pump   june   154584  Solar
36    Mines     Screen plant   june     1380  Solar
37    Mines          Crusher   june     1117  Solar
38    Mines          Utility   june     1650  Solar
39    Plant         Jet Mill   june    33295  Solar
40    Plant     Raymond Mill   june    35673  Solar
41    Plant          Utility   june     6070  Solar
42    Mines  Dewatering pump   july   460451   RSEB
43    Mines     Screen plant   july     4406   RSEB
44    Mines          Crusher   july     3863   RSEB
45    Mines          Utility   july     4852   RSEB
46    Plant         Jet Mill   july  126,378   RSEB
47    Plant     Raymond Mill   july    90199   RSEB
48    Plant          Utility   july    23851   RSEB
49    Mines  Dewatering pump   july   147598  Solar
50    Mines     Screen plant   july     1317  Solar
51    Mines          Crusher   july     1067  Solar
52    Mines          Utility   july     1566  Solar
53    Plant         Jet Mill   july    31790  Solar
54    Plant     Raymond Mill   july    34061  Solar
55    Plant          Utility   july     5858  Solar

In [6]:
energy_data = read_csv_data(file_path)
energy_data_melted = melt_electricity_df(energy_data)

# energy_data_melted['Month'].unique()
emissions_data = calculate_emissions(energy_data_melted)
print(type(emissions_data))

<class 'dict'>